
.square {
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 1px black;
  margin: 5px;
}

.squareGreen {
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: green;
  border: solid 1px black;
  margin: 5px;
}
